:root {
    --green: #74d374;
    --pink: #ff3d78;
    --white: #fff;
}

*{
    color: var(--fontColor);
    font-family: Helvetica;
}

body{
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}

#msg{
    font-family: cursive;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

.light-theme {
  --fontColor: var(--pink);
  --bg: var(--green);
  --btnFontColor:var(--white);
  --btnBg:var(--pink);
}

.dark-theme {
    --bg: var(--pink);
    --fontColor: var(--green);
    --btnFontColor:var(--white);
    --btnBg: var(--green);
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.btn:focus { outline-style: blue;}