:root {
    --yellow: rgb(255, 145, 0, 0.979);
    --purple: rgb(166, 0, 255);
    --orange: rgb(255, 66, 41);
}

*{
    color: var(--fontColor);
    font-family: "OCR A Std", monospace;
}

body{
    background: var(--bg); 
    margin: 10% 30%;
}

h1{
    font-size: 5em;
    text-align: center;
}


#msg{
   font-weight: bolder;
   word-spacing: 6px;
   font-size: 15px;
}

ul {
    padding-left: 140px;
    list-style: circle;
}



.light-theme {
  --fontColor: var(--purple);
  --bg: var(--yellow);
  --btnFontColor:var(--orange);
  --btnBg:var(--purple);
}

.dark-theme {
    --bg: var(--purple);
    --fontColor: var(--yellow);
    --btnFontColor:var(--orange);
    --btnBg: var(--yellow);
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: relative;
    top: 10px;
    left: 425px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    
}

